body {
	background: white;
	background-image: url('../images/background-game.png');
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

canvas {
	width: 100% !important;
	height: 100% !important;
}

#gameScreen {
	width: 100vw !important;
	height: 75vw !important; /* 100/56.25 = 1.778 | 100/1,3334 = 74,997 */
	max-height: 100vh;
	max-width: 133.34vh; /* 177.78vh 16/9 = 1.778 | 133.34vh 4/3 = 1,333 */
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#mainMenu {
	width: calc(100% - 100px);
	height: calc(100% - 100px);
	padding: 50px;
	background-color: rgba(255, 255, 255, 0.5);
}

#pauseMenu {
	width: calc(100% - 100px);
	height: calc(100% - 100px);
	padding: 50px;
	background-color: rgba(255, 255, 255, 0.5);
}

#inventoryMenu {
	width: calc(100% - 100px);
	height: calc(100% - 100px);
	position: absolute;
	top: 0px;
	padding: 50px;
	background-color: rgba(255, 255, 255, 0.5);
}

#inventoryMenuContent {
	height: calc(100% - 38px);
	display: flex;
}

#inventory {
	width: 80%;
	height: 100%;
	overflow-y: auto;
}

#itemInfoMenu {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 5%;
	width: calc(100% - 10%);
	height: calc(100% - 10%);
	background-color: rgba(255, 255, 255, 0.75);
}

#loginMenu {
	padding: 50px;
	height: calc(100% - 100px);
	display: flex;
	align-items: center;
	justify-content: center;
}

#loginPanel {
	text-align: center;
	padding: 15px;
	background-color: rgba(0, 0, 0, 0.3);
}

#inputsLoginPanel {
	text-align: right;
}

.itemInfoIcon {
	width: 20%;
	padding-top: 20%;
	display: inline-block;
}

.itemInfoStatus {
	width: 80%;
	display: inline-block;
}

.inventorySlot {
	width: calc(20% - 4%);
	height: 0;
	padding-top: calc(20% - 4%);
	display: inline-flex;
	margin: 2%;
	cursor: pointer;
}

#equipedItens {
	width: 20%;
	height: calc(100% - 38px);
}

#weapon {
    width: 80%;
    height: 0;
    padding-top: 80%;
    margin: auto;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 0px 15px 0px black;
}

.weaponSlotEmpty {
    background: url('../images/weapon-slot-empty.png') !important;
    background-size: contain !important;
}

.ironSwordAction {
    background: url('../images/iron-sword.png') !important;
    background-size: contain !important;
}

.stoneItemAction {
    background: url('../images/stone-item.png') !important;
    background-size: contain !important;
}

#scoreboard {
	padding: 50px;
	position: absolute;
	top: 0px;
	width: calc(100% - 100px);
	height: calc(100% - 100px);
	background-color: rgba(255, 255, 255, 0.75);
}

#options {
	padding: 50px;
	position: absolute;
	top: 0px;
	width: calc(100% - 100px);
	height: calc(100% - 100px);
	background-color: rgba(255, 255, 255, 0.75);
	text-align: center;
}

#options > div:not(:first-child) {
	margin-top: 25px;
}

#options #optionsCommandContent {
	display: inline-block;
	text-align: left;
}

.menu-button {
	text-align: center;
	padding: 10px;
}

.menu-button:not(:first-child) {
	margin-top: 25px;
}

.menu-button:hover {
	cursor: pointer;
	text-shadow: 0px 0px 10px rgba(255, 0, 0, 1);
}

.shot {
	width: 8px;
	height: 8px;
	border-radius: 50%;
    background: rgb(255, 0, 0);
    position: absolute;
}

.melee {
	width: 12px;
	height: 12px;
	border-radius: 50%;
    background: rgb(0, 0, 255);
    position: absolute;
}

.heart {
	width: 16px;
	height: 16px;
    background: url('../images/heart.png');
    position: absolute;
}

.char {
	width: 32px;
	height: 32px;
    background: url('../images/spritesheet.png') -64px 0;
    background-repeat: no-repeat;
    position: absolute;
}

.zombie {
	width: 32px;
	height: 32px;
	background: rgb(0, 255, 0);
	border-radius: 50%;
	position: absolute;
}

.grama {
	width: 32px;
	height: 32px;
    background: url('../images/spritesheet.png') 0 0;
    background-repeat: no-repeat;
    position: absolute;
}

.pedra {
	width: 32px;
	height: 32px;
    background: url('../images/spritesheet.png') -32px 0;
    background-repeat: no-repeat;
    position: absolute;
}